---
// IMPORTS ASTRO LAYOUTS
import Container from "@/layouts/Container.astro"

// IMPORTS ASTRO ATOMS
import HeadingTwo from "@/atoms/headings/two/uppercase/royal-blue/index.astro"

const data = {

    title: "PROJECTS COVERAGE"

}
---
<Container>
    <section class="py-20">
        <HeadingTwo>{ data.title }</HeadingTwo>
        <div class="w-full h-screen overflow-hidden">
            <img
                src="/projects-coverage.png"
                alt=""
                class="w-full h-full object-cover"
            />
        </div>
    </section>
</Container>
