---
// IMPORTS ASTRO LAYOUTS
import Container from "@/layouts/Container.astro"

// IMPORTS ASTRO ATOMS
import HeadingTwo from "@/atoms/headings/two/uppercase/royal-blue/index.astro"

const data = {

    title: "PROJECTS COVERAGE"

}
---
<section class="hidden md:block py-20">
    <Container>
        <HeadingTwo>{ data.title }</HeadingTwo>
        <div class="w-full h-screen overflow-hidden">
            <img
                src="/projects-coverage.png"
                alt=""
                class="w-full h-full object-cover"
            />
        </div>
    </Container>
</section>
