---
// IMPORTS CONSTANTS
import { CDN_LINK, IMAGE_QUALITY } from "@/constants/image"

// IMPORTS ASTRO LAYOUTS
import Container from "@/layouts/Container.astro"

// IMPORTS ASTRO ATOMS
import Paragraph from "@/atoms/paragraphs/white/small/index.astro"

const { data } = Astro.props
---
<section class="py-10 md:py-20 relative bg-cover" style=`background-image: url(${ data.cover + "?quality=" + IMAGE_QUALITY })`>
    <section class="absolute top-0 h-full w-full bg-gradient-to-r from-ex_sky_blue to-black/70 opacity-70" />
    <Container>
        <section class="grid md:grid-cols-2 gap-8 md:gap-20 relative z-10">
            <Paragraph>{ data.description }</Paragraph>
            <section class="rounded-2xl overflow-hidden">
                <iframe
                    width="800"
                    height="300"
                    src={ data.video_link }
                    title="YouTube video player"
                    frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    allowfullscreen>
                </iframe>
            </section>
        </section>
    </Container>
</section>
