---
// IMPORTS ASTRO LAYOUTS
import Container from "@/layouts/Container.astro"

// IMPORTS ASTRO COMPONENTS
import ReviewsAndClientsItem from "./reviews-and-clients-item/index.astro"

// IMPORTS ASTRO ATOMS
import HeadingTwo from "@/atoms/headings/two/uppercase/royal-blue/index.astro"

const data = {

    title: "REVIEWS & CLIENTS."

}

const all_clients = {

    title: "ALL CLIENTS",
    button_text: "Check",
    button_link: "/clients"

}

const portfolio = {

    title: "ALL CLIENTS",
    button_text: "Check",
    button_link: "/clients"

}

const reviews = {

    title: "ALL CLIENTS",
    button_text: "Check",
    button_link: "/clients"

}
---
<Container>
    <section class="py-20 space-y-20">
        <HeadingTwo>{ data.title }</HeadingTwo>
        <section class="grid grid-cols-4 gap-16">
            <ReviewsAndClientsItem
                title={ all_clients.title }
                button_text={ all_clients.button_text }
                button_link={ all_clients.button_link }
                aria_label=""
            />
            <ReviewsAndClientsItem
                title={ portfolio.title }
                button_text={ portfolio.button_text }
                button_link={ portfolio.button_link }
                aria_label=""
            />
            <ReviewsAndClientsItem
                title={ reviews.title }
                button_text={ reviews.button_text }
                button_link={ reviews.button_link }
                aria_label=""
            />
        </section>
    </section>
</Container>
