---
// IMPORTS ASTRO LAYOUTS
import Container from "@/layouts/Container.astro"

// IMPORTS JSX COMPONENTS
import Titles from "./titles/index"

// IMPORTS ASTRO ATOMS
import CenterParagraph from "@/atoms/paragraphs/white/small/bold/center/index.astro"
import SecondaryButton from "@/atoms/buttons/secondary/index.astro"
import Link from "@/atoms/links/index.astro"
import HeadingTwo from "@/atoms/headings/two/uppercase/white/center/index.astro"

const data = {

    description: "Great web products, digital assets and marketing campaigns, create feelings people like, remember and talk about. ExpandX!",
    button_one_text: "SEE REVIEWS",
    button_one_link: "/clutch-reviews-expandx",
    button_two_text: "CHECK HOW",
    button_two_link: "",
    sub_title: "WANT TO GROW YOUR BUSINESS?"


}
---
<section class="bg-black py-20">
    <Container>
        <section class="grid grid-cols-4 gap-16">
            <section class="col-span-3 space-y-8 pt-10">
                <div class="border-b border-ex_red pb-10">
                    <Titles client:load />
                </div>
                <div class="pt-4 px-20">
                    <CenterParagraph>{ data.description }</CenterParagraph>
                </div>
                <div class="flex justify-center">
                    <Link href={ data.button_one_link } aria_label="">
                        <SecondaryButton>{ data.button_one_text }</SecondaryButton>
                    <Link>
                </div>
            </section>
            <section class="flex flex-col items-center gap-6">
                <div class="h-32 w-full">
                    <img
                        src="/clutch-global-2023.png"
                        alt=""
                        class="w-full h-full object-contain"
                    />
                </div>
                <HeadingTwo>{ data.sub_title }</HeadingTwo>
                <Link href={ data.button_two_link } aria_label="">
                    <SecondaryButton>{ data.button_two_text }</SecondaryButton>
                <Link>
            </section>
        </section>
    </Container>
</section>
