---
// IMPORTS ASTRO LAYOUTS
import Container from "@/layouts/Container.astro"

// IMPORTS ASTRO COMPONENTS
import LeftColumn from "./left-column/index.astro"
import RightColumn from "./right-column/index.astro"

const { data } = Astro.props
---
<section class="bg-black py-20 mt-40">
    <Container>
        <section class="grid md:grid-cols-4 gap-16">
            <LeftColumn data={ data } />
            <RightColumn data={ data } />
        </section>
    </Container>
</section>
