---
// IMPORTS ASTRO ATOMS
import HeadingFour from "@/atoms/headings/four/uppercase/white/index.astro"
---
<section class="flex flex-col gap-2 justify-between">
    <div class="space-y-2">
        <HeadingFour>ExpandX</HeadingFour>
        <p class="text-white font-open_sans text-sm leading-relaxed">ExpandX | Marketing & Web © Prosperamo Group Ltd | 2014 – 2024 All Rights Reserved. The company brand and content used in this web site are copyright protected by international copyright laws.</p>
    </div>
    <div class="space-y-1">
        <div class="h-[1px] bg-white w-[80%]"></div>
        <div class="h-24 w-full">
            <img
                src="/images/google-partner.jpg"
                alt=""
                class="w-full h-full"
            />
        </div>
        <div class="h-24 w-full">
            <img
                src="/images/hubspot.png"
                alt=""
                class="w-full h-full"
            />
        </div>
    </div>
</section>
