<button class="px-4 rounded-full h-8 text-sm font-medium bg-white text-ex_royal_blue uppercase font-open_sans hover:text-white hover:bg-ex_sky_blue transition-all duration-300">
    <slot/>
</button>
