<section class="flex flex-col gap-2 justify-between">
    <div class="overflow-hidden">
        <iframe
            width="280"
            height="140"
            src="https://www.youtube.com/embed/bQlAdeNLs8c?si=Fs_4kSQke2VHml-y"
            title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen>
        </iframe>
    </div>
    <div class="space-y-4">
        <div class="space-y-4">
            <p class="text-sm uppercase font-open_sans font-semibold text-white">CAll US</p>
            <div class="space-y-2">
                <div>
                    <a href="tel:+442039510901">
                        <p class="font-open_sans text-white text-sm">+44 20 3951 0901 (UK)</p>
                    </a>
                </div>
                <div>
                    <a href="tel:+18337300509">
                        <p class="font-open_sans text-white text-sm">+1 833 7300 509 (USA)</p>
                    </a>
                </div>
                <div>
                    <a href="tel:+35929964222">
                        <p class="font-open_sans text-white text-sm">+359 2 996 4222 (BG)</p>
                    </a>
                </div>
            </div>
        </div>
        <div class="space-y-4">
            <p class="text-sm uppercase font-open_sans font-semibold text-white">WRITE US</p>
            <div>
                <a href="mailto:office@expandx.com">
                    <p class="font-open_sans text-white text-sm">office@expandx.com</p>
                </a>
            </div>
        </div>
    </div>
</section>
