---
// IMPORTS ASTRO ATOMS
import Link from "@/atoms/links/index.astro"
import SecondaryButton from "@/atoms/buttons/secondary/index.astro"
import HeadingTwo from "@/atoms/headings/two/uppercase/white/center/index.astro"

const { data } = Astro.props
---
<section class="flex flex-col items-center gap-6">
    <div class="h-32 w-full">
        <img
            src="/clutch-global-2023.png"
            alt=""
            class="w-full h-full object-contain"
        />
    </div>
    <div class="hidden md:flex flex-col items-center gap-6">
        <HeadingTwo>{ data.sub_title }</HeadingTwo>
        <Link href={ data.button_two_link } aria_label="">
            <SecondaryButton>{ data.button_two_text }</SecondaryButton>
        <Link>
    </div>
</section>
