---
// IMPORTS ASTRO LAYOUTS
import Container from "@/layouts/Container.astro"
---
<section class="bg-ex_azure_blue py-4">
    <Container>
        <section class="flex justify-between">
            <p class="text-ex_steel_blue text-xs font-light">ExpandX © Prosperamo Group Ltd | All Rights Reserved | Developed by <span class="font-semibold hover:text-ex_steel_blue/70 transition-all duration-300"><a href="/">ExpandX | Marketing & Web</span></a></p>
            <div class="items-center gap-4 hidden md:flex">
                <a href="https://www.facebook.com/ExpandX" target="_blank">
                    <div class="size-4">
                        <img
                            src="/icons/facebook-red.svg"
                            alt=""
                            class="size-4"
                        />
                    </div>
                </a>
                <a href="https://twitter.com/Expand_X" target="_blank">
                    <div class="size-3.5">
                        <img
                            src="/icons/x-red.svg"
                            alt=""
                            class="size-3.5"
                        />
                    </div>
                </a>
                <a href="https://www.instagram.com/expandx.marketing.web/" target="_blank">
                    <div class="size-4">
                        <img
                            src="/icons/instagram-red.svg"
                            alt=""
                            class="size-4"
                        />
                    </div>
                </a>
            </div>
        </section>
    </Container>
</section>
