---
// IMPORTS ASTRO ATOMS
import Link from "@/atoms/links/index.astro"
---
<section class="space-y-4">
    <div class="h-16 w-full">
        <Link href="/" aria_label="">
            <img
                src="/logo/expandx-logo.jpg"
                alt=""
                class="h-full w-full"
            />
        </Link>
    </div>
    <div class="h-[1px] bg-white w-[80%] mx-auto mt-8 mb-4"></div>
    <div class="space-y-4">
        <p class="text-white font-open_sans text-sm">Digital, Web & Marketing Solutions</p>
        <p class="text-white font-open_sans text-sm text-center">Check Rating and Reviews <span class="text-ex_light_blue font-open_sans font-medium"><a href="/clutch-reviews-expandx">here</a></span></p>
    </div>
    <div class="w-full aspect-square">
        <img
            src="/images/clutch-awards.png"
            alt=""
            class="w-full h-full object-contain"
        />
    </div>
</section>
