---
// IMPORTS ASTRO LAYOUTS
import Container from "@/layouts/Container.astro"

// IMPORTS ASTRO COMPONENTS
import ColumnOne from "./column-one/index.astro"
import ColumnTwo from "./column-two/index.astro"
import ColumnThree from "./column-three/index.astro"
import ColumnFour from "./column-four/index.astro"
---
<footer class="bg-black py-10">
    <Container>
        <section class="grid grid-cols-4 gap-10">
            <ColumnOne />
            <ColumnTwo />
            <ColumnThree />
            <ColumnFour />
        </section>
    </Container>
</footer>
